<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="http://cdn.coderead.cn/vue@2.7.14/dist/vue.js"></script>
  <script src="http://cdn.coderead.cn/vuetify@2.6.14/dist/vuetify.js"></script>
  <script src="http://cdn.coderead.cn/luban.js"></script>

  <link href="http://cdn.coderead.cn/vuetify@2.6.14/dist/vuetify.css" rel="stylesheet" />
  <link href="http://cdn.coderead.cn/mdi@7.1.96/font/css/materialdesignicons.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <v-app>
      <v-main class="d-flex align-center">
        <v-sheet class="mx-auto" elevation="2" height="500" width="700">
          <v-row no-gutters class="pb-0 mt-0 " style="height: 100%;">
            <v-col class="pt-0  flex-grow-0">
              <v-navigation-drawer class="grey lighten-3" left mini-variant permanent>
                <v-list-item class="px-2">
                  <v-list-item-avatar>
                    <v-img v-if="user" :src="user.head"></v-img>
                  </v-list-item-avatar>

                  <v-list-item-title>John Leider</v-list-item-title>


                </v-list-item>

                <v-divider></v-divider>

                <v-list dense flat>
                  <v-list-item-group :value="1" color="green darken-1">
                    <v-list-item link href="index.html">
                      <v-list-item-icon>
                        <v-icon>mdi-chat</v-icon>
                      </v-list-item-icon>

                      <v-list-item-content>
                        <v-list-item-title>聊天</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>

                    <v-list-item link href="friend.html">
                      <v-list-item-icon>
                        <v-icon>mdi-account</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>联系人</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-spacer></v-spacer>
                  </v-list-item-group>

                  <v-list-item>
                    <v-list-item-icon>
                      <v-menu offset-y>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon color="grey darken-2" dark v-bind="attrs" v-on="on">
                            mdi-menu
                          </v-icon>
                        </template>
                        <v-list>
                          <v-list-item link disabled>
                            <v-list-item-title @click="doEdit">修改资料</v-list-item-title>
                          </v-list-item>
                          <v-list-item @click="logout">
                            <v-list-item-title>退出</v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>
                        设置
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-navigation-drawer>
            </v-col>
            <v-col class="grey lighten-4 flex-grow-0 px-2  ">

              <v-text-field>
                <v-icon slot="prepend-inner">
                  mdi-magnify
                </v-icon>
              </v-text-field>

              <v-list color="grey lighten-4" class="overflow-y-auto" max-height="380" width="200">
                <v-list-group :value="true" no-action>
                  <template v-slot:activator>
                    <v-list-item-subtitle>群聊</v-list-item-subtitle>

                  </template>
                  <!-- 加载群聊列表 -->
                  <v-list-item-group v-model="activeGroup">
                    <v-list-item v-for="item in groups" :key="item.name" :value="item">
                      <v-list-item-avatar>
                        <v-img :src="item.groupHead"></v-img>
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title v-text="item.name"></v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-action-text v-if="!isJoin(item.id)">
                        <v-btn  color="success
                        " @click.prevent.stop="doAddGroup(item.id)" small icon>
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </v-list-item-action-text>
                    </v-list-item>
                  </v-list-item-group>

                </v-list-group>
                <v-list-group :value="true" no-action>
                  <template v-slot:activator>
                    <v-list-item-subtitle>交友列表</v-list-item-subtitle>
                  </template>
                  <v-list-item-group v-model="activeFriend">
                    <v-list-item v-for="item in friends" :key="item.name" :value="item">
                      <v-list-item-avatar>
                        <v-img :src="item.head"></v-img>
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title v-text="item.name"></v-list-item-title>
                        <v-list-item-subtitle>
                          <v-icon small v-if="item.sex=='男'">mdi-account-tie</v-icon>
                          <v-icon small color="pink lighten-2" v-else>mdi-account-tie-woman</v-icon>
                          </v-list-itemsubtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list-group>

              </v-list>
            </v-col>
            <v-col class="pa-0 flex-grow-1">
              <v-card v-if="activeFriend" v-else tile elevation="0" height="100%">
                <v-list-item three-line>
                  <v-list-item-content>
                    <div class="text-overline mb-4">
                      亲密好友
                    </div>
                    <v-list-item-title class="text-h5 mb-1">
                      {{activeFriend.name}}
                    </v-list-item-title>
                    <v-list-item-subtitle>{{activeFriend.signDesc}}</v-list-item-subtitle>
                    <v-list-item-subtitle>
                      <v-chip v-for="label in activeFriend.labels" small class="ma-2">
                        {{label}}
                      </v-chip></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-avatar tile size="80" color="grey">
                    <v-img :src="activeFriend.head">
                  </v-list-item-avatar>
                </v-list-item>

                <v-card-actions class="pt-0">
                  <v-spacer></v-spacer>
                  <v-btn :href="`index.html?friendId=${activeFriend.id}`" class="pa-5 ma-10" large color="success">
                    发消息
                  </v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
              <v-card v-else-if="activeGroup" tile elevation="0" height="100%">
                <v-list-item three-line>
                  <v-list-item-avatar tile size="80" color="grey">
                    <v-img :src="activeGroup.groupHead">
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title class="text-h5 mb-1">
                      {{activeGroup.name}}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-card-actions class="pt-0">
                  <v-spacer></v-spacer>
                  <v-btn :href="`index.html?groupId=${activeGroup.id}`" class="pa-5 ma-10" large color="success">
                    进入群聊
                  </v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
              <v-card v-else class="d-flex align-center" disabled tile elevation="0" height="100%">
                <v-card-title class="ma-auto">
                  <v-icon large>mdi-wechat</v-icon>
                </v-card-title>
              </v-card>

            </v-col>
          </v-row>
        </v-sheet>
      </v-main>
    </v-app>

  </div>
</body>
<script>
  new Vue({
    el: "#app",
    vuetify: new Vuetify(),
    methods: {},
    data: {
      activeFriend: null,
      activeGroup: null,
      visible: true,
      name: "小强12",
      user: null,
      drawer: true,
      friends: [
      ],
      groups: [
        { name: "我的群", groupHead: "http://cdn.coderead.cn/heads/group.png" },
        { name: "我的群2", groupHead: "http://cdn.coderead.cn/heads/group.png" }
      ],
      myGroups:[],
      mini: true,
    },

    methods: {
      async loadUser() {
        let user = await Luban.invoke("org.wechat.service.UserService", "getUserInfo");
        if (user) {
          this.user = user;
          this.loadFriend();// 加载所有好友
          this.loadGroups();// 加载所有群
        } else {
          window.location.href = "/login.html";
        }
      },
      async logout() {
        await Luban.invoke("org.wechat.service.UserService", "logout");
        window.location.href = "/login.html";// 退回登录页
      },
      async loadFriend() {
        this.friends = await Luban.invoke("org.wechat.service.FriendService", "allFriends");
        if (this.friends && this.friends.length > 0) {
          this.activeFriend = this.friends[0];
        }
      },
      loadGroups() {// 加载所有群聊
        Luban.invoke("org.wechat.service.GroupService", "allGroups").then(r => {
          this.groups = r;
        });
        Luban.invoke("org.wechat.service.GroupService", "myGroups").then(r => {
          this.myGroups = r;
        });
        
      },
      doAddGroup(groupId) {// 加入群聊
        Luban.invoke("org.wechat.service.GroupService", "join", { groupId }).then(g=>{
            // 加入成功,进入群聊
          window.location.href=  `index.html?groupId=${groupId}`
        });

      },
      isJoin(groupId){
        return this.myGroups.find(g=>g.id==groupId) && true;
      },
      doEdit(){

      }
    },
    watch: {
      activeFriend(newVal) {
        if (newVal)
          this.activeGroup = null;
      },
      activeGroup(newVal) {
        if (newVal)
          this.activeFriend = null;
      }
    },
    mounted() {
      this.loadUser(); // 加载用户信息

    },
  });
</script>
<style>
  /* #app {
    margin: auto;
    height: 500px;
    width: 800px;
    margin-top: 50px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #dddfe5;
  } */
</style>

</html>