<html>
  <head>
    <meta charset="UTF-8">
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://cdn.coderead.cn/Luban.js"></script>
  </head>

  <body>
    <div id="app">
      <h2 style="text-align: center; padding: 20px">欢迎登录快聊3</h2>
      <el-form
        :model="user"
        status-icon
        ref="ruleForm"
        label-width="100px"
        class="loginForm"
      >
        <el-form-item label="用户名" prop="name">
          <el-input
            type="text"
            v-model="user.name"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input
            type="password"
            v-model="user.password"
            autocomplete="off"
          ></el-input>
        </el-form-item>

        <el-form-item>
          <el-button style="width: 100%" @click="doLogin" type="primary"
            >登录</el-button
          >
          还没有帐号？
          <el-link href="/register.html" type="primary">点击注册</el-link>
        </el-form-item>
      </el-form>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      methods: {},
      data: {
        visible: true,
        name: "小强12",
        user: {
          name: "",
          password: "",
        },
      },
      methods: {
        async doLogin() {
          try {
            await Luban.invoke("org.wechat.service.UserService", "login", this.user);
            window.location.href = "/index.html";
          } catch (e) {
            this.$message.error("登录失败：" + e.message);
          }
        },
      },
    });
  </script>
  <style>
    #app {
      margin: auto;
      height: 400px;
      width: 500px;
      margin-top: 50px;
      background-color: white;
      border-radius: 4px;
      border: 1px solid #dddfe5;
    }
    .loginForm {
      width: 400px;
      margin: auto;
      margin-top: 30px;
    }

    .button {
    }
  </style>
</html>
